    .wwads-horizontal,
    .wwads-vertical {
      background-color: #f4f8fa;
      padding: 5px;
      min-height: 120px;
      margin-top: 20px;
      box-sizing: border-box;
      border-radius: 3px;
      font-family: sans-serif;
      display: flex;
      min-width: 150px;
      position: relative;
      overflow: hidden
    }

    .wwads-horizontal {
      flex-wrap: wrap;
      justify-content: center
    }

    .wwads-vertical {
      flex-direction: column;
      align-items: center;
      padding-bottom: 32px
    }

    .wwads-horizontal a,
    .wwads-vertical a {
      text-decoration: none
    }

    .wwads-horizontal .wwads-content,
    .wwads-horizontal .wwads-img,
    .wwads-vertical .wwads-content,
    .wwads-vertical .wwads-img {
      margin: 5px
    }

    .wwads-horizontal .wwads-content {
      flex: 130px;
      text-align: left
    }

    .wwads-vertical .wwads-content {
      margin-top: 10px;
      text-align: left
    }

    .wwads-content .wwads-text,
    .wwads-horizontal .wwads-text {
      font-size: 14px;
      line-height: 1.4;
      color: #0e1011;
      -webkit-font-smoothing: antialiased;
      word-break: break-word
    }

    .wwads-horizontal .wwads-poweredby,
    .wwads-vertical .wwads-poweredby {
      display: flex;
      align-items: center;
      margin-top: 1em
    }

    .wwads-vertical .wwads-poweredby {
      position: absolute;
      left: 10px;
      bottom: 10px;
      display: flex;
      align-items: center
    }

    .wwads-horizontal .wwads-poweredby .wwads-logo,
    .wwads-vertical .wwads-poweredby .wwads-logo {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 210' fill='%23a6b7bf'%3E%3Cpath d='M24.25 211.46L0 197.46l57-98.73a74.004 74.004 0 11128.18 74l-7 12.12-24.25-14 7-12.12a46.002 46.002 0 00-79.68-46z'/%3E%3Cpath d='M121.21 209.73a74.07 74.07 0 01-64.21-37l-7-12.12 24.25-14 7 12.12a46.002 46.002 0 1079.68-46l-57-98.73 24.25-14 57 98.73a74 74 0 01-64 111z'/%3E%3Cpath d='M235.09 209.73h-114a74 74 0 010-148h14v28h-14a46 46 0 000 92h114z'/%3E%3C/svg%3E") no-repeat;
      padding: 0 1px 11px 11px
    }

    .wwads-horizontal .wwads-poweredby .wwads-logo-text,
    .wwads-vertical .wwads-poweredby .wwads-logo-text {
      font-size: 11px;
      margin-left: 3px;
      color: #a6b7bf
    }

    .wwads-horizontal .wwads-hide,
    .wwads-vertical .wwads-hide {
      position: absolute;
      right: -23px;
      bottom: -23px;
      width: 46px;
      height: 46px;
      border-radius: 23px;
      transition: all .3s ease-in-out;
      cursor: pointer
    }

    .wwads-horizontal .wwads-hide .hide-svg,
    .wwads-vertical .wwads-hide .hide-svg {
      position: absolute;
      left: 10px;
      top: 10px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='7' fill='%23a6b7bf'%3E%3Cpath d='M.879.672L3 2.793 5.121.672a.5.5 0 11.707.707L3.708 3.5l2.12 2.121a.5.5 0 11-.707.707l-2.12-2.12-2.122 2.12a.5.5 0 11-.707-.707l2.121-2.12L.172 1.378A.5.5 0 01.879.672z'/%3E%3C/svg%3E") no-repeat
    }

    .wwads-horizontal .wwads-hide:hover,
    .wwads-vertical .wwads-hide:hover {
      background: rgb(0 0 0/.05)
    }